p:nth-child(1){
    background-color: red;
}
p:nth-child(2){
    background-color: royalblue;
}
p:nth-child(3){
    background-color: yellowgreen;
}
p:nth-child(4){
    background-color: burlywood;
}
p:nth-child(5){
    background-color: goldenrod;
}